.code-diff {
    .table {
        > tbody {
            font-family: var(--font-monospace);
            font-size: 0.75rem;
            line-height: 1;
            white-space: nowrap;
        }

        > :not(caption) > * {
            border-width: 0 var(--border-width);

            &:first-child {
                border-top-width: var(--border-width);
            }

            &:last-child {
                border-bottom-width: var(--border-width);
            }

            > * {
                border-width: 0;
                padding: 0.3rem;

                &.diff-line-sign {
                    border-left-width: var(--border-width);
                }
            }
        }
    }

    .diff-line-number {
        width: 4ch;
    }

    .diff-line-sign {
        width: 2ch;
    }

    .diff-line-code {
        white-space: pre-wrap;
    }
}
