:root {
    --color-background: light-dark(#f8f9fa, #212529);
    --color-foreground: light-dark(#212529, #a8afb6);
    /* temporary shims */
    --light: var(--color-background);
    --dark: var(--color-foreground);

    --color-primary: light-dark(#276e72, #8dd4dd);
    --bg-primary: light-dark(#ddedee, #0d3c3f);
    --color-secondary: light-dark(#685563, #aa97a5);
    --bg-secondary: light-dark(#e6e6e6, #301c2b);
    --color-success: light-dark(#28a745, #58d775);
    --bg-success: light-dark(#daf1df, #11441c);
    --color-info: light-dark(#17a2b8, #47d2e8);
    --bg-info: light-dark(#d6f1f5, #02404a);
    --color-warning: light-dark(#ffc107, #f8ba00);
    --bg-warning: light-dark(#fbf0d0, #4d3900);
    --color-danger: light-dark(#dc3545, #ca2333);
    --bg-danger: light-dark(#f2dede, #602020);

    --bg-scale: -80%;
    
    --body-font-size: 0.875rem;
    --body-line-height: 1.5;

    --gutter-x: 30px;
    --gutter-y: 0;

    --body-color: var(--color-foreground);
    --body-bg: var(--color-background);
    --link-color: var(--color-primary);
    --link-hover-color: color-mix(in oklch, var(--link-color), var(--color-foreground));
    --border-color: color-mix(in oklch, var(--body-color) 30%, var(--body-bg));
}

/* region reset */
:root {
    font-family: "Odoo Unicode Support Noto", sans-serif;
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);

    color-scheme: dark light;
    color: var(--body-color);
    background-color: var(--body-bg);
}
/* sets the color scheme based on a userland (JS) toggle */
:root.dark { color-scheme: dark; }
:root.light { color-scheme: light; }

*, *::before, *::after {
    box-sizing: border-box;
    color: inherit;
    font: inherit;

    margin: 0;
    padding: 0;
}

body {
    /* have the body take the entire viewport by default */
    min-height: 100vh;
}

table {
    border-collapse: collapse;
}
th {
    text-align: inherit;
}
thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    margin-top: 0.66em;
    margin-bottom: 0.33em;
}
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }

ul, ol {
    padding-left: 2rem;
}
ul, ol, dl {
    margin-bottom: 1rem;
}
p {
    margin-bottom: 16px;
}

p, li, figcaption {
    text-wrap: pretty;
}

button {
    padding: 0.375rem 1rem;
}

/* FIXME: btn-link probably doesn't belong in the reset part? */
a, .btn-link {
    border: none;
    display: inline-block;
    background: inherit;

    text-decoration: none;
    color: var(--link-color);
    &:hover, &:focus {
        color: var(--link-hover-color);
        text-decoration: underline;
    }
}

code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;;
}

blockquote {
    padding: 0.5rem 1rem;
    border-left: 5px solid;
    font-style: italic;
    margin: 0 0 1rem;
    &>:last-child {
        margin-bottom: 0;
    }
}
/* endregion */

/* region colors */
.disabled {
    filter: saturate(50%) brightness(80%);
}

.bg-primary {
    background-color: var(--bg-primary);
}
.text-bg-primary {

}

.bg-success {
    background-color: var(--bg-success);
}
.text-success {
    color: var(--color-success);
}
.bg-warning {
    background-color: var(--bg-warning);
}
.text-warning {
    color: var(--color-warning);
}
.bg-info {
    background-color: var(--bg-info);
}
.text-info {
    color: var(--color-info);
}
.bg-danger {
    background-color: var(--bg-danger);
}
.text-danger {
    color: var(--color-danger);
}

.bg-gray-lighter {
    background-color: var(--border-color);
}

.alert {
    clear: both;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;

    background-color: var(--bg-alert);
    border: 1px solid color-mix(in srgb, var(--color-alert) 70%, var(--color-background));
    color: color-mix(in srgb, var(--color-alert) 40%, var(--color-foreground));
    --link-color: color-mix(in srgb, var(--color-alert) 40%, var(--color-foreground));

    &.alert-light, &.bg-light {
        --bg-alert: light-dark(#e5e6e6, #1a2633);
        border: 1px solid light-dark(#f8f9fa, #050607);
        --color-alert: color-mix(in srgb, var(--color-background) 40%, var(--color-foreground));
    }
    &.bg-light {
        border: none;
    }
    &.alert-primary {--bg-alert: var(--bg-primary);--color-alert: var(--color-primary);}
    &.alert-info {--bg-alert: var(--bg-info);--color-alert: var(--color-info);}
    &.alert-success {--bg-alert: var(--bg-success);--color-alert: var(--color-success);}
    &.alert-warning {--bg-alert: var(--bg-warning);--color-alert: var(--color-warning);}
    &.alert-danger {--bg-alert: var(--bg-danger);--color-alert: var(--color-danger);}
    &.active {
        background-color: color-mix(in oklch, var(--bg-alert) 85%, var(--color-alert));
    }
}
/* endregion */

main > section {
    /*
    fixme: apparently bootstrap sets x=30px, y=0 on .row, but then it also
           sets a negative margin on the .row so it expands into the body,
           and then it adds the gutter again (but the row's this time) onto
           (some?) row elements
    */
    /*padding-right: var(--gutter-x, 15px);*/
    /*padding-left: var(--gutter-x, 15px);*/
    padding: 0 15px;
}

.pr-listing {
    padding: 0;
    margin: 0 0 10px;
    & > * {
        display: inline-block;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 10px;
    }
    li {
        display: inline-block;
        padding: 0 5px;
    }
}
.splits {
    background-color: var(--bg-warning);
}
.pr-awaiting {
    opacity: 0.8;
    background-color: var(--bg-warning);
}
.pr-blocked {
    opacity: 0.6;
    background-color: var(--bg-danger);
}
.pr-failed {
    opacity: 0.9;
    background-color: var(--bg-info);
}

nav {
    ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 1rem 0 0;
        justify-content: center;
    }
    a {
        padding: 0.5rem 1rem;
    }
}

aside {
    ul {
        display: inline;
        list-style: none;
        padding: 0;
        margin: 0 0 10px;

        &>li {
            display: inline-block;
            padding: 0 5px;
        }
    }

    h1 &, h2 &, h3 &, h4 &, h5 &, h6 & {
        display: inline-block;
        font-size: 50%;
    }
}

header > nav {
    padding: 0.5rem 2rem;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    ul {
        margin: 0;
        &.top_menu a {
            color: inherit;
        }
        &.extras {
            display: flex;
            gap: 0.5rem;

            color: #685563;
            border-color: #685563;
            &>li>a {
                color: inherit;
                border-radius: 0.25rem;
                &:hover, &:active, &:focus {
                    text-decoration: none;
                    background-color: #685563;
                    color: white;
                }
            }
        }
    }
    .theme-toggle {
        display: inline-flex;
        button {
            cursor: pointer;
            background-color: transparent;
            border-radius: 0;
            border: 1px solid;
            border-right: none;
            &:hover, &.active {
                background-color: #685563;;
                color: white;
                border-color: #685563;
            }
        }
        button:first-child {
            border-radius: 0.25rem 0 0 0.25rem;
        }
        button:last-child {
            border-radius: 0 0.25rem 0.25rem 0;
            border-right: 1px solid #685563;
        }
    }
}

/* region bs dropdown */
.dropdown {
    position: relative;

    &>.dropdown-toggle {
        border: 1px solid transparent;
        &:after {
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
        }
    }
    &>.dropdown-menu {
        display: none;
        position: absolute;
        color: var(--color-foreground);
        background: var(--color-background);
        min-width: 100%;
        padding: 0.5rem 0;
        margin: 0;
        text-align: left;
        border-radius: 0.25rem;
    }
    &>.dropdown-toggle.show+.dropdown-menu {
        display: block;
    }

    .dropdown-item {
        color: inherit;
        display: block;
        width: 100%;
        padding: 0.25rem 1rem;
        &:hover {
            text-decoration: none;
            background-color: oklch(from var(--color-foreground) l c h/0.1);
        }
    }
}
/* endregion */
/* region misc for backend button */
.float-end {
    float: right;
}
.btn {
    border: 1px solid transparent;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    &:hover { text-decoration: none; }
}
.btn-group {
    display: inline-flex;

    &>:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &>:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
.btn-sm {
  padding: 0.0625rem 0.5rem;
  font-size: 0.765625rem;
  border-radius: 0.3rem;
}
.btn-secondary {
    color: var(--color-foreground);
    --btn-secondary-bgcolor: color-mix(
        in oklch,
        var(--bg-secondary) 80%,
        var(--color-foreground)
    );
    background-color: var(--btn-secondary-bgcolor);
    border-color: var(--btn-secondary-bgcolor);
    &:hover, &.active {
        --btn-secondary-bgcolor: color-mix(
            in oklch,
            var(--bg-secondary) 85%,
            var(--bg-secondary)
        );
    }
}
/* endregion */

ul.stagings {
    list-style: none;
    padding: 0;
    margin: 0;

    --pad1: 0.1em;
    --pad2: 0.5em;
    display: grid;
    /* min of a newspaper column + list item padding (desktop), or half the*/
    /* viewport width minus the page gutter (mobile)*/
    grid-template-columns: repeat(12, minmax( min(11pc + var(--pad1) + var(--pad2), 49vw - var(--gutter-x) * 0.5), 1fr));
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 1px;
    overflow-x: auto;

    &>li.staging {
        grid-template-rows: subgrid;
        display: grid;
        grid-row: 1/-1;

        &>ul {
            list-style: none;
            padding: 0;
            margin: 0;

            &>li.batch {
                overflow-wrap: anywhere;
                padding: 0 var(--pad1) 0 var(--pad2);

                &:first-child {
                  padding-top: var(--pad1);
                }
                &:last-child {
                  padding-bottom: var(--pad1);
                }
                &:not(:last-child) {
                  border-bottom: 1px solid var(--border-color);
                }
                & a:not(:last-of-type) a:after {
                    content: ",";
                }
            }
        }
        /*
        :open is supposed to work on popovertarget (in supporting browser)
        but it doesn't seem to work in FF while matching
        `@supports selector(:has)`, so FF gets neither version therefore
        just use the legacy one
        */
        &>button[popovertarget]:before {
            content: '▸ ';
        }
        &:has([popover]:popover-open) > button[popovertarget]:before {
            content: "▾ ";
        }
    }
}

/* region specific widgets */
#alerts {
    text-align: center;
    &>*:first-child {
        margin-top: 0.66em;
    }
    &>* {
        margin-bottom: 0.33em;
    }
}

div.dropdown[popover] {
    :has(> &) {
        anchor-scope: all;
    }
    button:has(+ &) {
        display: inline-block;
        background: none;
        border: none;
        cursor: pointer;
        user-select: none;

        text-align: start;
        text-indent: 0.8em hanging;
        margin: 0.5em 0;
        padding: 0 var(--pad1, 0) 0 var(--pad2, 0);
    }

    position: absolute;
    inset: unset;
    position-anchor: var(--my-anchor);
    bottom: anchor(top);
    left: anchor(left);
    position-try-fallbacks: flip-block, flip-inline;

    max-height: 70vh;
    min-width: 10rem;
    overflow: auto;

    color: var(--color-foreground);
    background-color: var(--color-background);

    padding: 0.5rem 0;
    border: 1px solid transparent;
    border-radius: 0.25rem;

    & > * {
        display: block;
        width: 100%;
        padding: 0.25rem 1rem;
        white-space: nowrap;
        color: color-mix(in srgb, var(--link-color) 85%, var(--color-background));
        &:hover {
            color: color-mix(in srgb, var(--link-color), var(--color-foreground));
        }
    }
}

section > section {
    &> h2 {
        &:after {
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: middle;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
        }
        &.fold {
            &:after {
                border-top: 0.3em solid transparent;
                border-right: 0;
                border-bottom: 0.3em solid transparent;
                border-left: 0.3em solid;
            }
            &+ul.stagings {
                &>li.staging>ul,
                &~div {
                    display: none;
                }
            }
        }
    }
}

ul.todo {
    list-style-type: '☐ ';
    & > li.ok {
        list-style-type: '☑ ';
    }
    & > li.fail {
        list-style-type: '☒ ';
        background-color: var(--bg-danger);
        color: color-mix(in srgb, var(--color-danger) 40%, var(--color-foreground));
        --link-color: color-mix(in srgb, var(--color-danger) 40%, var(--color-foreground));
    }
}
/* endregion */

h1:has(+ h2.ministate) {
    display: inline-block;
}
h2.ministate {
    margin-left: 1ex;
    display: inline-flex;
    flex-wrap: wrap;
    vertical-align: bottom;
    /* better, but only in Firefox */
    @supports (vertical-align: center) {
        vertical-align: center;
    }
    gap: 1ex;
    &>div {
        display: grid;
        grid-template-rows: repeat(4, 25%);
        grid-template-columns: repeat(3, 1ex);
        height: 1.5em;

        &>a:hover {
            outline: 1px solid var(--color-foreground);
            transition: transform 0.5s ease;
            transform: scale(150%);
        }
    }
}
.staging:target {
    outline: 1px solid var(--color-foreground);
}

/* region boostrap tables */
.table {
    --table-fg: var(--color-foreground);
    --table-bg: transparent;
    --table-border-color: var(--border-color);
    --table-accent-bg: transparent;

    width: 100%;
    margin-bottom: 1rem;
    &>thead {
        vertical-align: bottom;
    }
    &>:not(caption) > * > * {
        padding: 0.75rem;
        background-color: var(--table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--table-accent-bg);
    }
}

.table-sm > :not(caption) > * > * {
    padding: 0.3rem;
}

.table-bordered > :not(caption) > * {
    border-width: 1px 0;
    border-color: var(--table-border-color);
    & > * {
        border-width: 0 1px;
        border-color: var(--table-border-color);
    }
    td { min-width: 20px; }
}

.table-active {
    --table-accent-bg: rgba(0, 0, 0, 0.1);
}
.table-success {
    --table-bg: var(--bg-success);
    &.table-active {
        --table-bg: color-mix(in oklch, var(--bg-success) 85%, var(--color-success));
    }
}
.table-warning {
    --table-bg: var(--bg-warning);
    &.table-active {
        --table-bg: color-mix(in oklch, var(--bg-warning) 85%, var(--color-warning));
    }
}
.table-danger {
    --table-bg: var(--bg-danger);
    &.table-active {
        --table-bg: color-mix(in oklch, var(--bg-danger) 85%, var(--color-danger));
    }
}
/* endregion */

dl.runbot-merge-fields {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 16% 84%;
}

.staging-statuses {
  cursor: wait;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.outstanding-partners > * {
    white-space: nowrap;
    padding-left: 0.25rem;
    padding-top: 0.25rem;
    border-left: 1px solid color-mix(in srgb, currentColor 15%, transparent);
}