// FIX: bs4 shit-heap colors and styles
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
  font-size: 14px;
}
body {
  color: inherit;
  font-family: inherit;
}
h1, h2, h3, h4, h5, h6{
  color: inherit;
  margin-top: 0.66em;
  margin-bottom: 0.33em;
}
h5 { font-size: 1em; }
.bg-success, .bg-info, .bg-warning, .bg-danger, .bg-gray-lighter {
  color: inherit;
}
.dropdown-item, .dropdown-menu, .dropdown-menu a {
  color: inherit;
}
.bg-success {
  background-color: #dff0d8 !important;
}
.bg-unmerged {
  background-color: #dcefe8 !important
}
.bg-info {
  background-color: #d9edf7 !important;
}
.bg-warning {
  background-color: #fcf8e3 !important;
}
.bg-danger {
  background-color: #f2dede !important;
}
.list-inline {
  margin-bottom: 10px;
}
.list-inline > li {
  padding: 0 5px;
  margin-right: 0;
  // TODO: find better way to do this
  display: inline-block;
}

.btn {
  user-select: text;
}

// mergebot layouting
.stagings {
  display: flex;
  align-items: stretch;

  > li {
    flex: 1;
    // prevent content-based autosizing otherwise that's flex' starting point
    width: 0;

    padding: 0.1em 0.1em 0.1em 0.5em;

    &:not(:last-child) {
      border-right: 1px solid lightgray;
    }
  }
  .batch {
    // cut off branch names if they can't be line-wrapped and would break the
    // layout, works with flex to force all columns to be at the same size
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:last-child) {
      border-bottom: 1px solid lightgray;
    }
  }

  .batch a:not(:last-of-type) a:after {
    content: ",";
  }
}
.pr-listing > * { display: inline-block; }
.pr-awaiting { opacity: 0.8; }
.pr-blocked { opacity: 0.6; }
.pr-failed { opacity: 0.9; }

ul.todo {
  list-style-type: '☐ ';
  > li.ok {
    //@extend .alert-success;
    list-style-type: '☑ ';
  }
  > li.fail {
    @extend .alert-danger;
    list-style-type: '☒ ';
  }
}

dl.runbot-merge-fields {
  @extend .row;
  > dt {
    @extend .col-sm-2;
  }
  > dd {
    @extend .col-sm-10;
  }
}

.staging-statuses {
  cursor: wait;
}

/* forwardport */
.outstanding-partners > * {
  @extend .pt-1;
  // because there's a trailing space which is annoying to remove, which plays
  // the role of padding-right
  @extend .pl-1;
  @extend .text-nowrap;
  // works better for the left edge of the *box*
  @extend .border-left;
}
