/*
 * Legacy theme
 */

:root[data-bs-theme=legacy] {
    /* to match initial runbot style */
    --bs-success-bg-subtle: #dff0d8;
    --bs-danger-bg-subtle: #f2dede;
    --bs-warning-bg-subtle: #fff9e6;
    --bs-info-bg-subtle: #d9edf7;
    --bs-info-rgb: 23, 162, 184;

    .text-bg-info {
        color: #fff !important; // It's black by default, color forced to fit with --bs-info-rgb
    }

    .text-bg-success {
        color: #000 !important;
    }

    .btn-success {
        --bs-btn-color: #fff;
        --bs-btn-bg: #198754;
        --bs-btn-border-color: #198754;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #157347;
        --bs-btn-hover-border-color: #146c43;
        --bs-btn-focus-shadow-rgb: 60, 153, 110;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #146c43;
        --bs-btn-active-border-color: #13653f;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #28a745;
        --bs-btn-disabled-border-color: #28a745;
    }

	.o_runbot_batch_card > .card-header {
		--bs-success-rgb: 223, 240, 216;
		--bs-info-rgb: 217, 237, 247;
		--bs-danger-rgb: 242, 222, 222;
		--bs-warning-rgb: 255, 249, 230;
		&.text-bg-info, &.text-bg-danger {
			color: #000 !important;
		}
		.badge {
			--bs-warning-rgb: 255, 193, 7;
		}
	}
}
