/*
 * Red404 theme (color blind)
 */

:root[data-bs-theme=red404] {
    --bs-success-bg-subtle: #cdffb9;
    --bs-danger-bg-subtle: #e67ecf;
    --bs-warning-bg-subtle: #fae9b1;
    --bs-info-bg-subtle: #b6e2f8;
    --bs-info-rgb: 23, 162, 184;

    .btn-danger {
        --bs-btn-color: #fff;
        --bs-btn-bg: #990a59;
        --bs-btn-border-color: #990a59;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #740442;
        --bs-btn-hover-border-color: #740442;
        --bs-btn-focus-shadow-rgb: 60, 153, 110;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #740442;
        --bs-btn-active-border-color: #740442;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #b90e6c;
        --bs-btn-disabled-border-color: #b90e6c;
    }

	.o_runbot_batch_card > .card-header {
		--bs-success-rgb: 205, 255, 185;
		--bs-info-rgb: 182, 226, 248;
		--bs-danger-rgb: 230, 126, 207;
		--bs-warning-rgb: 250, 233, 177;
		&.text-bg-danger {
			color: #fff !important;
		}
		&.text-bg-success {
			color: #000 !important;
		}
		.badge {
			--bs-warning-rgb: 255, 193, 7;
		}
	}
}
