:root {
	--gray: #6c757d;
	/* used for batch limitation */
	--alternative: #ccc;
	--btn-default-color: var(--bs-body-color);
	--btn-default-border: #ccc;
	--bs-default-rgb: var(--bs-body-color-rgb);
	--active-project-color: #777;
}

.btn-default {
	--bs-btn-color: var(--btn-default-color);
	--bs-btn-bg: var(--bs-body-bg);
	--bs-btn-border-color: var(--btn-default-border);
	--bs-btn-hover-color: var(--btn-default-color);
	--bs-btn-hover-bg: var(--btn-default-border);
	--bs-btn-hover-border-color: var(--btn-default-border);
	--bs-btn-focus-shadow-rgb: 60, 153, 110;
	--bs-btn-active-color: var(--btn-default-color);
	--bs-btn-active-bg: var(--bs-body-bg);
	--bs-btn-active-border-color: var(--bs-body-bg);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--btn-default-color);
	--bs-btn-disabled-bg: var(--bs-body-bg);
	--bs-btn-disabled-border-color: var(--btn-default-border);
}

.btn-info {
	--bs-btn-color: #FFF;
	--bs-btn-bg: #17a2b8;
	--bs-btn-border-color: #17a2b8;
	--bs-btn-hover-color: #FFF;
	--bs-btn-hover-bg: #31d2f2;
	--bs-btn-hover-border-color: #25cff2;
	--bs-btn-focus-shadow-rgb: 11, 172, 204;
	--bs-btn-active-color: #FFF;
	--bs-btn-active-bg: #3dd5f3;
	--bs-btn-active-border-color: #25cff2;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #FFF;
	--bs-btn-disabled-bg: #17a2b8;
	--bs-btn-disabled-border-color: #17a2b8;
}


.accordion {
	--bs-accordion-btn-padding-y: 0.3rem;
	/* more condensed build error views */
}

.text-bg-default {
	color: var(--bs-body-color) !important;
	background-color: RGBA(var(--bs-body-bg-rgb), var(--bs-bg-opacity, 1)) !important;
}

.table-responsive {
	display: block;
	/* more condensed table, to replace */
}

.table {
	--bs-table-bg: transparent;
	/* Forced to white in bootstrap latest version, hides the color of sub builds, batch commits, ...*/
}

/*.accordion-button:not(.collapsed) {
	background-color: transparent; /* remove crappy color
}*/

.active_project {
	color: var(--active-project-color);
	margin-left: 15px;
}

body {
	margin: 0;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
}

form {
	margin: 0;
}

table {
	font-size: 0.875rem;
}

.fa {
	line-height: inherit;
	/* reset fa icon line height to body height*/
}

a {
	color: #00A09D;
	text-decoration: none;

	&:hover {
		color: #005452;
	}

	&.slots_infos:hover {
		text-decoration: none;
	}
}

.breadcrumb-item.active a {
	color: #6c757d;
}

.breadcrumb {
	background-color: inherit;
	margin-bottom: 0;
}

.build_details {
	padding: 5px;
}

.separator {
	border-top: 2px solid #666;
}

body,
.table {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.btn-sm,
.btn-group-sm>.btn {
	padding: 0.25rem 0.5rem;
	font-size: 0.89rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}

.btn-ssm,
.btn-group-ssm>.btn {
	padding: 0.22rem 0.4rem;
	font-size: 0.82rem;
	line-height: 1;
	border-radius: 0.2rem;
}

.killed,
.bg-killed,
.bg-killed-light {
	background-color: #aaa;
}

.dropdown-toggle:after {
	content: none;
}

.dropdown-toggle-caret:after {
	content: ' ';
}

.one_line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.batch_tile {
	padding: 6px;
}

.branch_time {
	float: right;
	margin-left: 10px;
}

.text-info {
	color: #096b72 !important;
}

.build_subject_buttons {
	display: flex;
}

.build_buttons {
	margin-left: auto;
}

.bg-killed,
.bg-killed-subtle,
.bg-skipped,
.bg-skipped-subtle {
	background-color: var(--bs-tertiary-bg);
}

.text-bg-killed {
	color: var(--bs-body-color) !important;
	background-color: var(--bs-tertiary-bg);
}

.table-condensed td {
	padding: 0.25rem;
}

.line-through {
	text-decoration: line-through;
}

.slot_button_group {
	display: flex;
	padding: 0 1px;
}

.slot_button_group .btn {
	flex: 0 0 25px;
}

.slot_button_group .btn.slot_name {
	width: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 1 1 auto;
	text-align: left;
}

.batch_header {
	padding: 6px;

	&:hover {
		color: var(--bs-body-color);
		background-color: rgba(0, 0, 0, 0.3);

		.header_hover {
			visibility: visible;
		}
	}
}

.header_hover {
	visibility: hidden;
}

.batch_slots {
	display: flex;
	flex-wrap: wrap;
	padding: 6px;
}

.batch_commits {
	padding: 2px;
}

.batch_row {
	.slot_container {
		flex: 1 0 200px;
		padding: 0 4px;
	}

	.slot_filler {
		width: 100px;
		height: 0px;
		flex: 1 0 200px;
		padding: 0 4px;
	}
}

.bundle_row {
	border-bottom: 1px solid var(--gray);

	.batch_commits {
		font-size: 80%;
	}

	.slot_container {
		flex: 1 0 50%;
	}

	.slot_filler {
		flex: 1 0 50%;
	}

	.more .batch_commits {
		display: block;
	}
}

.chart-legend {
	max-height: calc(100vh - 160px);
	overflow-y: scroll;
	overflow-x: hidden;
	cursor: pointer;
	padding: 5px;

	.label {
		margin-left: 5px;
		font-weight: bold;
	}

	.disabled .color {
		visibility: hidden;
	}

	.disabled .label {
		font-weight: normal;
		text-decoration: line-through;
		margin-left: 5px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

.limited-height {
	max-height: 180px;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&:before {
		content: '';
		width: 100%;
		height: 30px;
		position: absolute;
		left: 0;
		bottom: 0;
		background: linear-gradient(transparent 0px, white 27px);
	}

	&::-webkit-scrollbar {
		display: none;
	}

	&>hr {
		margin: 2px 0px;
	}
}

.limited-height-toggle:hover {
	background-color: #DDD;
}

.o_runbot_team_searchbar .nav {
	margin-left: 0px !important;
}

code {
	white-space: pre-wrap;
}

/* NEW STUFF */

.o_runbot_sticky_star {
	color: #f0ad4e;
}

/* Layout */
.o_runbot_main_container>.row {
	padding: .5rem 0;
}

.o_runbot_main_container>.row:not(:last-child) {
	border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

/* Navbar */
.o_runbot_navbar_username {
	max-width: 16rem;
}

.o_runbot_btn_haspr {
	color: var(--bs-btn-color) !important;
	background-color: var(--bs-btn-bg) !important;
	border-color: var(--bs-btn-border-color) !important;
}

.o_runbot_btn_haspr:has(input:checked) {
	color: var(--bs-btn-active-color) !important;
	background-color: var(--bs-btn-active-bg) !important;
	border-color: var(--bs-btn-active-border-color) !important;
}

/* Bundles */
@media (min-width: 768px) {
	.o_runbot_bundle_info {
		width: 16rem;
		max-width: 16rem;
	}
}

.o_runbot_bundle_row .o_runbot_batch_card>.o_runbot_batch_card_content>.o_runbot_batch_card_slots>.o_runbot_batch_card_slot {
	min-width: 50%;
	flex-grow: 1;
}

@media (min-width: 1400px) {
	.o_runbot_bundle_row .o_runbot_batch_card>.o_runbot_batch_card_content>.o_runbot_batch_card_slots>.o_runbot_batch_card_slot:not(.o_runbot_batch_card_slot_preparing) {
		max-width: 50%;
	}
}

@media (max-width: 576px) {
	.o_runbot_bundle .o_runbot_batch_card>.o_runbot_batch_card_content>.o_runbot_batch_card_slots>.o_runbot_batch_card_slot {
		min-width: 50%;
		flex-grow: 1;
	}
}

@media (min-width: 576px) {
	.o_runbot_bundle .o_runbot_batch_card>.o_runbot_batch_card_content>.o_runbot_batch_card_slots>.o_runbot_batch_card_slot {
		flex-basis: 200px;
		flex-grow: 1;
		max-width: 25%;
	}
}

@media (min-width: 992px) {
	.o_runbot_bundle .o_runbot_batch_card>.o_runbot_batch_card_content>.o_runbot_batch_card_slots>.o_runbot_batch_card_slot {
		flex-basis: 200px;
		flex-grow: 1;
		max-width: 20%;
		min-width: 12.5%;
	}
}

.o_runbot_bundle>.col-12 {
	--bs-gutter-x: 0.5rem;
	--bs-gutter-y: 0.5rem;
}

/* Batch */
:root[data-bs-theme="legacy"] .o_runbot_batch_card {
	/* In legacy theme we want to keep the card's border color */
	border: var(--bs-card-border-width) solid var(--bs-card-border-color) !important;
}

.o_runbot_batch_card>.o_runbot_batch_card_content>.o_runbot_batch_card_slots>.o_runbot_batch_card_slot>.o_runbot_slot_btn_group {
	width: 100%;
}

.o_runbot_batch_card>.o_runbot_batch_card_content>.o_runbot_batch_card_commits {
	font-size: 80%;
}

.o_runbot_batch>.o_runbot_batch_slots .o_runbot_slot_btn_group {
	width: 100%;
}

/* Slot */
// .btn-group-ssm > * {
// 	align-items: center;
// }
.btn-group-ssm {
	>* {
		align-content: center;
	}

	.o_runbot_slot_btn_small,
	.o_runbot_build_menu {
		flex: 0 0 25px;
	}
}

.o_runbot_slot_btn_group .o_runbot_slot_btn_small,
.o_runbot_slot_btn_group>.o_runbot_build_menu {
	flex: 0 0 25px;
}

.o_runbot_grid {
	// Max width for regular columns
	--runbot-grid-fit-content-width: 200px;

	display: grid;
	line-height: normal;
	min-width: 0;
	grid-template-columns: (
		repeat(calc(var(--runbot-grid-columns) - 1), fit-content(var(--runbot-grid-fit-content-width)))
		1fr
	);

	&.o_runbot_grid_auto {
		grid-template-columns: repeat(var(--runbot-grid-columns), 1fr);
	}

	&>* {
		padding: 0.25rem;
	}

	&>.separator {
		grid-column: span var(--runbot-grid-columns);
	}

	&>*:not(.separator) {
		// Same as .border-bottom;
		border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
	}

	&>.o_runbot_grid_full_row {
		grid-column: span var(--runbot-grid-columns);
	}
}

@for $size from 2 through 5 {
	.o_runbot_grid_#{$size} {
		--runbot-grid-columns: #{$size};

		&>*:nth-last-child(-n + #{$size}) {
			border-bottom: none !important;
		}

		&>*:not(:nth-child(#{$size}n+1)) {
			border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
		}
	}
}

.o_runbot_commit_status_grid {
	grid-template-columns: fit-content(var(--runbot-grid-fit-content-width)) 1fr repeat(3, fit-content(var(--runbot-grid-fit-content-width)));
}

.o_runbot_commit_status_history_grid {
	grid-template-columns: fit-content(var(--runbot-grid-fit-content-width)) 1fr repeat(2, fit-content(var(--runbot-grid-fit-content-width)));
}

.o_runbot_log_grid {
	display: grid;
	grid-template-columns: repeat(3, fit-content(200px)) 1fr;
	line-height: normal;
	min-width: 0;

	&>*:not(.separator) {
		// Same as .border-bottom;
		border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
	}

	&>.separator {
		grid-column: span 4;
	}

	&>.o_runbot_log_grid_header {
		font-weight: bold;
		padding: 0.5rem 0;
	}

	&>.o_runbot_log_grid_date {
		padding-left: 0.5rem;
	}

	&>*:not(.o_runbot_log_grid_message) {
		padding-right: 0.5rem;
	}

	&>.o_runbot_log_grid_message {
		overflow: hidden;

		&>* {
			overflow: auto;
			text-wrap: nowrap;
		}

		.o_runbot_log_message_toolbox {
			display: flex;
			position: sticky;
			left: 0;
			width: fit-content;
			margin-top: 0.5rem;
			opacity: 0.8;

			&:hover {
				opacity: 1;

				// .btn.disabled has a different opacity
				&>* {
					--bs-btn-disabled-opacity: 1;
				}
			}
		}
	}
}

/* TODO: remove if not used */
.bg-danger-subtle-hover:hover {
	background-color: var(--bs-danger) !important;
	color: #fff !important;
}

.bg-success-subtle-hover:hover {
	background-color: var(--bs-success) !important;
	color: #fff !important;
}

.bg-warning-subtle-hover:hover {
	background-color: var(--bs-warning) !important;
	color: #000 !important;
}

.bg-info-subtle-hover:hover {
	background-color: var(--bs-info) !important;
	color: #000 !important;
}

.bg-killed-subtle-hover:hover {
	background-color: var(--body-secondary-bg);
	color: var(--body-secondary-color);
}


@media (min-width: 768px) {
	.w-md-auto {
		width: auto !important;
	}
}

.modal:not([data-bs-backdrop="false"]) {
    background-color: rgba(0, 0, 0, 0.5);
}

.fa-bounce {
	animation: bounceIn 2s 1;
}

@keyframes bounceIn {
    0% {
        transform: scale(1) translateY(0);
    }
    // 10% {
    //     transform:  translateY(0);
    // }
    // 30% {
    //     transform:  translateY(var(--fa-bounce-height, -.5em));
    // }
    50% {
        transform: scale(1.1) translateY(0);
    }
    // 57% {
    //     transform: scale(1) translateY(var(--fa-bounce-rebound, -.125em));
    // }
    // 64% {
    //     transform: scale(1) translateY(0);
    // }
    100% {
        transform: scale(1) translateY(0);
    }
}
