.separator {
    border-top: 2px solid #666;
}

[data-toggle="collapse"] .fa:before {
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}

body, .table{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#444;
}

.btn-default {
    background-color: #fff;
    color: #444;
    border-color: #ccc;
}

.btn-default:hover {
    background-color: #ccc;
    color: #444;
    border-color: #ccc;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.89rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.btn-ssm, .btn-group-ssm > .btn {
    padding: 0.22rem 0.4rem;
    font-size: 0.82rem;
    line-height: 1;
    border-radius: 0.2rem;
}

.killed, .bg-killed, .bg-killed-light {
    background-color: #aaa;
}

.dropdown-toggle:after { content: none }

.one_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.batch_tile {
    padding: 6px;
}
.branch_time {
    float:right;
    margin-left:10px;
}


:root {
  --info-light: #d9edf7;
}


.bg-success-light {
    background-color: #dff0d8;
}
.bg-danger-light {
    background-color: #f2dede;
}
.bg-info-light {
    background-color: var(--info-light);
}

.text-info{
    color: #096b72 !important;
}
.build_subject_buttons {
    display: flex;
}
.build_buttons {
    margin-left: auto
}

.bg-killed {
    background-color: #aaa;
}

.badge-killed {
    background-color: #aaa;
}

.table-condensed td {
    padding: 0.25rem;
}

.line-through {
    text-decoration: line-through;
}

.badge-light{
    border: 1px solid #AAA;
}
.arrow{
    display: none;
}

.badge-light:hover .arrow{
    display: inline;
}

.slot_button_group {
    display: flex;
    padding: 0 1px;
}

.slot_button_group .btn {
    flex: 0 0 25px;
}

.slot_button_group .btn.slot_name {
    width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
    text-align: left;
}

.batch_header {
    padding: 6px;
    padding-bottom: 0px;
}

.batch_slots {
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
}

.batch_commits {
    background-color: white;
}

.batch_commits {
    padding: 2px;
}

.match_type_new {
    background-color: var(--info-light);
}
.batch_row {
    .slot_container{
        flex: 1 0 200px;
        padding: 0 4px;
    }
    .slot_filler {
        width: 100px;
        height: 0px;
        flex: 1 0 200px;
        padding: 0 4px;
    }
}
.bundle_row {
    border-bottom: 1px solid var(--gray);
    .batch_commits {
        font-size: 80%;
    }
    .slot_container{
        flex:1 0 50%;
    }
    .slot_filler {
        flex:1 0 50%;
    }
    .more {
        .batch_commits {
            display: block;
        }
    }
    .nomore {
        .batch_commits {
            display: none;
            padding:8px;
        }
    }
    .nomore.batch_tile:hover {
        .batch_commits {
            display: block;
            position: absolute;
            bottom: 1px;
            transform: translateY(100%);
            z-index: 100;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.2rem;
            box-sizing: border-box;
            margin-left:-1px;
        }
    }
}
.chart-legend {
    max-height: calc(100vh - 160px);
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: pointer;
    padding: 5px;

    .label {
        margin-left: 5px;
        font-weight: bold;
    }
    .disabled{
        .color {
            visibility: hidden;
        }
        .label {
            font-weight: normal;
            text-decoration: line-through;
            margin-left: 5px;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
